body,html{
    margin:0;
    padding:0;
    
}
.fix{
    color: crimson;
    font-size: 3em;
    font-weight: 900;
    letter-spacing: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 40px;
    text-align: center;
}

.fix1{
    color: crimson;
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    text-align: center;
}