<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="assets/img/bg.jpg">
    <p>The Most Anticipated Movies of 2020</p>
    <div class=" container">
        <div class="box">
            <div class="imgBox">
            <img src="assets/img/k.jpg">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Tron Legacy</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam commodi recusandae voluptates,
                        aliquid cupiditate, magni enim nihil, maxime illum facere esse sunt ad quisquam fugit pariatur!
                        Tenetur iusto perspiciatis doloremque.</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="assets/img/2.jpg">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Eternal</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam commodi recusandae voluptates,
                        aliquid cupiditate, magni enim nihil, maxime illum facere esse sunt ad quisquam fugit pariatur!
                        Tenetur iusto perspiciatis doloremque.</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="assets/img/3.jpg">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Soul</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam commodi recusandae voluptates,
                        aliquid cupiditate, magni enim nihil, maxime illum facere esse sunt ad quisquam fugit pariatur!
                        Tenetur iusto perspiciatis doloremque.</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="assets/img/4.jpg">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Onward</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam commodi recusandae voluptates,
                        aliquid cupiditate, magni enim nihil, maxime illum facere esse sunt ad quisquam fugit pariatur!
                        Tenetur iusto perspiciatis doloremque.</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="assets/img/5.jpg">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Black Widow</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam commodi recusandae voluptates,
                        aliquid cupiditate, magni enim nihil, maxime illum facere esse sunt ad quisquam fugit pariatur!
                        Tenetur iusto perspiciatis doloremque.</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="assets/img/6.jpg">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Ghost busters afterlife</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam commodi recusandae voluptates,
                        aliquid cupiditate, magni enim nihil, maxime illum facere esse sunt ad quisquam fugit pariatur!
                        Tenetur iusto perspiciatis doloremque.</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="assets/img/7.jpg">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Dune</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam commodi recusandae voluptates,
                        aliquid cupiditate, magni enim nihil, maxime illum facere esse sunt ad quisquam fugit pariatur!
                        Tenetur iusto perspiciatis doloremque.</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="assets/img/8.jpg">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Gentlemen</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam commodi recusandae voluptates,
                        aliquid cupiditate, magni enim nihil, maxime illum facere esse sunt ad quisquam fugit pariatur!
                        Tenetur iusto perspiciatis doloremque.</p>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="imgBox">
                <img src="assets/img/9.jpg">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Godzilla vs. Kong 2020</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam commodi recusandae voluptates,
                        aliquid cupiditate, magni enim nihil, maxime illum facere esse sunt ad quisquam fugit pariatur!
                        Tenetur iusto perspiciatis doloremque.</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="assets/img/10.jpg">
            </div>
            <div class="details">
                <div class="content">
                    <h2>How do you live</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam commodi recusandae voluptates,
                        aliquid cupiditate, magni enim nihil, maxime illum facere esse sunt ad quisquam fugit pariatur!
                        Tenetur iusto perspiciatis doloremque.</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="assets/img/11.jpg">
            </div>
            <div class="details">
                <div class="content">
                    <h2> The King's Man</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam commodi recusandae voluptates,
                        aliquid cupiditate, magni enim nihil, maxime illum facere esse sunt ad quisquam fugit pariatur!
                        Tenetur iusto perspiciatis doloremque.</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="assets/img/12.jpg">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Free Man</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam commodi recusandae voluptates,
                        aliquid cupiditate, magni enim nihil, maxime illum facere esse sunt ad quisquam fugit pariatur!
                        Tenetur iusto perspiciatis doloremque.</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="assets/img/13.jpg">
            </div>
            <div class="details">
                <div class="content">
                    <h2> Promising Young Woman</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam commodi recusandae voluptates,
                        aliquid cupiditate, magni enim nihil, maxime illum facere esse sunt ad quisquam fugit pariatur!
                        Tenetur iusto perspiciatis doloremque.</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="assets/img/14.jpg">
            </div>
            <div class="details">
                <div class="content">
                    <h2> The Father (2020)</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam commodi recusandae voluptates,
                        aliquid cupiditate, magni enim nihil, maxime illum facere esse sunt ad quisquam fugit pariatur!
                        Tenetur iusto perspiciatis doloremque.</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="assets/img/15.jpg">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Infinite</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam commodi recusandae voluptates,
                        aliquid cupiditate, magni enim nihil, maxime illum facere esse sunt ad quisquam fugit pariatur!
                        Tenetur iusto perspiciatis doloremque.</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="assets/img/16.png">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Tenet</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam commodi recusandae voluptates,
                        aliquid cupiditate, magni enim nihil, maxime illum facere esse sunt ad quisquam fugit pariatur!
                        Tenetur iusto perspiciatis doloremque.</p>
                </div>
            </div>
        </div>


    </div>
    
</body>

</html>