<!DOCTYPE html>
<html>

<head>
    <title>W3.CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">

</head>

<body>
   <!-- <img src="assets/img/bg.jpg"> -->
    <div class="slidershow middle">
        <div class="slides">
            <input type="radio" name="r" id="r1" checked>
            <input type="radio" name="r" id="r2">
            <input type="radio" name="r" id="r3">
            <input type="radio" name="r" id="r4">
            <input type="radio" name="r" id="r5">
            <div class="slide s1">
                <img src="assets/img/v.jpg" alt="">
            </div>
            <div class="slide">
                <img src="assets/img/bs.jpg" alt="">
            </div>
            <div class="slide">
                <img src="assets/img/ib.jpg" alt="">
            </div>
            <div class="slide">
                <img src="assets/img/qp.jpg" alt="">
            </div>
            <div class="slide">
                <img src="assets/img/bw.jpg" alt="">
            </div>
        </div>

        <div class="navigation">
            <label for="r1" class="bar"></label>
            <label for="r2" class="bar"></label>
            <label for="r3" class="bar"></label>
            <label for="r4" class="bar"></label>
            <label for="r5" class="bar"></label>
        </div>
        
    </div>

</body>
<script src="./assets/js/abh.js"></script>

</html>