body{
    background-color: darkgray;
    margin: 0px;
    padding: 0px;
}

li{
    list-style: none;
    display: inline;
    font-variant: small-caps;
    font-family: fantasy;
    font-size: 30px;
    padding-left:10px;
    
}
.iconright img{
    width:35px;
    padding-top:0px;
    margin-top:0px;

}
a{
    text-decoration: none;
    color:black;
}
a:hover{
    color: burlywood;
}

